<div class="row" *ngIf="!superHeroes.length">
  <div style="display: flex; flex-direction: column; align-items: center; margin-top: 50px;">
    <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
    </mat-progress-spinner>
    <span style="margin-top: 20px; font-size: 1.2em;">Cargando datos...</span>
  </div>
</div>
<div class="row" *ngIf="superHeroes.length">
  <div class="col-xl-12">
    <app-card
      cardTitle="Listado Superhéroes"
      [options]="false"
      blockClass="table-border-style">
      <p><mat-slide-toggle [(ngModel)]="tablaEditable">Editar/Eliminar</mat-slide-toggle></p>
      <mat-form-field appearance="outline">
        <mat-label>Filtrar superhéroes</mat-label>
        <input matInput placeholder="Buscar superhéroe" [formControl]="searchControl">
      </mat-form-field>
      <div class="table-responsive">
        <table class="table" *ngIf="superHeroesFiltrado.length">
          <thead>
            <tr>
              <th *ngIf="tablaEditable"></th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Género</th>
              <th>Color ojos</th>
              <th>Superpoderes<th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let superHeroe of superHeroesFiltrado" [style.--bs-table-bg]="superHeroe.color">
              <td *ngIf="tablaEditable">
                <span class="icono label theme-bg2 text-white f-12 rounded-pill"><i class="fa fa-edit" (click)="editar(superHeroe)"></i></span>
                <span class="icono label theme-bg text-white f-12 rounded-pill"><i class="fa fa-trash" (click)="eliminar(superHeroe, '0ms', '0ms')"></i></span>
              </td>
              <th scope="row">{{superHeroe.nombre | titlecase}}</th>
              <td>{{calcularEdad(superHeroe.fechaNacimiento)}}</td>
              <td>{{getDescripcionGenero(superHeroe.genero)}}</td>
              <td>{{getDescripcionOjos(superHeroe.colorOjos)}}</td>
              <td>{{getDescripcionSuperpoderes(superHeroe.superpoderes)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!superHeroesFiltrado.length"><strong>No existe ese superhéroe que cumpla ese filtro</strong></div>
    </app-card>
  </div>
</div>
<div class="fixed-button active">
  <a class="btn btn-md btn-theme has-ripple" >
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Nuevo Superhéroe
  </a>
</div>
