<div class="row">
  <!-- <div class="col-xl-12">
    <app-card
      cardTitle="Basic Table"
      [options]="false"
      blockClass="table-border-style"
    >
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-card
      cardTitle="Hover Table"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>&#64;mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div> -->
  <div style="display: flex; justify-content: center; margin-top: 50px;">
    <mat-form-field appearance="outline">
      <mat-label>Buscar superhéroe</mat-label>
      <input matInput placeholder="Buscar superhéroe" [formControl]="searchControl">
      <button mat-icon-button matSuffix aria-label="Search" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-xl-12">
    <app-card
      cardTitle="Listado Superhéroes"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="table-responsive">
        <p><mat-slide-toggle [(ngModel)]="tablaEditable">Editar/Eliminar</mat-slide-toggle></p>
        <button type="submit" class="btn btn-primary" (click)="crearSuperHeroe()">Nuevo Superhéroe</button>
        <table class="table">
          <thead>
            <tr>
              <th *ngIf="tablaEditable"></th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Género</th>
              <th>Color ojos</th>
              <th>Superpoderes<th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let superHeroe of superHeroesFiltrado" [style.--bs-table-bg]="superHeroe.color">
              <td *ngIf="tablaEditable">
                <span class="icono"><i class="fa fa-edit" (click)="editar(superHeroe)"></i></span>
                <span class="icono"><i class="fa fa-trash" (click)="eliminar(superHeroe, '0ms', '0ms')"></i></span>
              </td>
              <th scope="row">{{superHeroe.nombre | titlecase}}</th>
              <td>{{calcularEdad(superHeroe.fechaNacimiento)}}</td>
              <td>{{getDescripcionGenero(superHeroe.genero)}}</td>
              <td>{{getDescripcionOjos(superHeroe.colorOjos)}}</td>
              <td>{{getDescripcionSuperpoderes(superHeroe.superpoderes)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>


<div class="col-sm-12">
  <app-card cardTitle="Pill Badges" [options]="false">
    <span class="badge m-r-5 badge-pill bg-primary">Primary</span>
    <span class="badge m-r-5 badge-pill bg-secondary">Secondary</span>
    <span class="badge m-r-5 badge-pill bg-success">Success</span>
    <span class="badge m-r-5 badge-pill bg-danger">Danger</span>
    <span class="badge m-r-5 badge-pill bg-warning">Warning</span>
    <span class="badge m-r-5 badge-pill bg-info">Info</span>
    <span class="badge m-r-5 badge-pill bg-light text-dark">Light</span>
    <span class="badge m-r-5 badge-pill bg-dark">Dark</span>
  </app-card>
</div>


<div class="col-md-6">
  <app-card cardTitle="Icon Button Rounded" [options]="false">
    <button type="button" class="btn btn-icon btn-rounded btn-primary">
      <i class="feather icon-thumbs-up"></i>
    </button>
    <button type="button" class="btn btn-icon btn-rounded btn-secondary">
      <i class="feather icon-camera"></i>
    </button>
    <button type="button" class="btn btn-icon btn-rounded btn-success">
      <i class="feather icon-check-circle"></i>
    </button>
    <button type="button" class="btn btn-icon btn-rounded btn-danger">
      <i class="feather icon-slash"></i>
    </button>
    <button type="button" class="btn btn-icon btn-rounded btn-warning">
      <i class="feather icon-alert-triangle"></i>
    </button>
    <button type="button" class="btn btn-icon btn-rounded btn-info">
      <i class="feather icon-info"></i>
    </button>
  </app-card>
</div>
