<div class="row" *ngIf="!superHeroes.length">
  <div style="display: flex; justify-content: center; margin-top: 50px;">
    <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
  </div>
</div>
<div class="row" *ngIf="superHeroes.length">
  <div style="display: flex; justify-content: center; margin-top: 50px;">
    <mat-form-field appearance="outline">
      <mat-label>Buscar superhéroe</mat-label>
      <input matInput placeholder="Buscar superhéroe" [formControl]="searchControl">
    </mat-form-field>
  </div>
  <div class="col-xl-12">
    <app-card
      cardTitle="Listado Superhéroes"
      [options]="false"
      blockClass="table-border-style"
    >
      <div class="table-responsive">
        <p><mat-slide-toggle [(ngModel)]="tablaEditable">Editar/Eliminar</mat-slide-toggle></p>
        <button type="submit" class="btn btn-primary" (click)="crearSuperHeroe()">Nuevo Superhéroe</button>
        <table class="table">
          <thead>
            <tr>
              <th *ngIf="tablaEditable"></th>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Género</th>
              <th>Color ojos</th>
              <th>Superpoderes<th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let superHeroe of superHeroesFiltrado" [style.--bs-table-bg]="superHeroe.color">
              <td *ngIf="tablaEditable">
                <span class="icono"><i class="fa fa-edit" (click)="editar(superHeroe)"></i></span>
                <span class="icono"><i class="fa fa-trash" (click)="eliminar(superHeroe, '0ms', '0ms')"></i></span>
              </td>
              <th scope="row">{{superHeroe.nombre | titlecase}}</th>
              <td>{{calcularEdad(superHeroe.fechaNacimiento)}}</td>
              <td>{{getDescripcionGenero(superHeroe.genero)}}</td>
              <td>{{getDescripcionOjos(superHeroe.colorOjos)}}</td>
              <td>{{getDescripcionSuperpoderes(superHeroe.superpoderes)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
