<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{tituloForm}}" [options]="false">
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <h6>Nombre del superhéroe</h6>
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre" [readonly]="esEditar" oninput="this.value = this.value.toUpperCase()">
                <mat-error *ngIf="formulario.get('nombre').invalid && formulario.get('nombre').touched">El nombre es requerido</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <h6>Color de ojos</h6>
              <mat-form-field>
                <mat-select formControlName="colorOjos" placeholder="Selecciona un color">
                  <mat-option *ngFor="let ojo of ojos" [value]="ojo.value">{{ojo.color}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formulario.get('colorOjos').invalid && formulario.get('colorOjos').touched">Selecciona el color de ojos</mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <h6>Fecha de Nacimiento</h6>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formulario.get('fechaNacimiento').invalid && formulario.get('fechaNacimiento').touched">
                  La fecha debe ser menor a la fecha de hoy
                </mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <h6>Género</h6>
            <mat-radio-group formControlName="genero" id="generoRadio">
              <mat-radio-button value="M">Masculino</mat-radio-button>
              <mat-radio-button value="F">Femenino</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="formulario.get('genero').invalid && formulario.get('genero').touched">Selecciona el género</mat-error>
          </div>
          <div class="form-group">
            <h6>Superpoderes</h6>
            <div>
              <mat-checkbox *ngFor="let superpoder of superpoderes" (change)="onCheckboxChange($event, superpoder.value)" value="{{superpoder.value}}" [checked]="marcarSuperpoderesDefecto(superpoder.value)">{{superpoder.poder}}</mat-checkbox>
            </div>
            <mat-error *ngIf="formulario.get('superpoderes').invalid && formulario.get('superpoderes').touched">Selecciona al menos un superpoder</mat-error>
          </div>
          <div class="form-group">
            <h6>Color del superhéroe</h6>
            <mat-form-field id="selectorColor">
              <input class="color-picker" matInput [(colorPicker)]="color" [style.background]="color" [value]="color" (colorPickerChange)="changeColor($event)" required/>
              <mat-icon matSuffix>color_lens</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="formulario.get('color').invalid &&  formulario.get('color').touched">
              Selecciona un color
            </mat-error>
          </div>
        </div>
      </div>
      <button id="botonForm" mat-raised-button class="btn btn-primary" color="primary" type="submit">{{txtBotonForm}}</button>
    </form>
    </app-card>
  </div>
</div>
